python-3.10.3
cartopy
certifi
cvxopt
dask
geopandas
geoviews
holoviews
hvplot
jupyterlab
matplotlib
nodejs
numpy
pandas
param
panel
pip
rasterio
rioxarray
scikit-image
scikit-learn
scipy
stackstac
statsmodels
tqdm
xarray
pysptools
git+https://github.com/kearney-sp/hls_nrt_utils.git
